<mat-form-field>
  <input
    matInput
    placeholder="Enter city"
    #cityCtrl
    (keydown.enter)="search(cityCtrl.value)"
  />
  <mat-icon matSuffix (click)="search(cityCtrl.value)">search</mat-icon>
</mat-form-field>

<mat-card *ngIf="weather">
  <mat-card-header>
    <mat-card-title>
      {{ weather.city.name }}, {{ weather.city.country }}
    </mat-card-title>
    <mat-card-subtitle>{{
      weather.list[0].weather[0].description | titlecase
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://openweathermap.org/img/wn/{{
      weather.list[0].weather[0].icon
    }}@2x.png"
    [alt]="weather.list[0].weather[0].description"
  />
  <mat-card-content>
    <h1>{{ weather.list[0].main.temp | number : "1.0-0" }} &#8451;</h1>
    <p>Pression: {{ weather.list[0].main.pressure }} hPa</p>
    <p>Humidité: {{ weather.list[0].main.humidity }} %</p>
    <p>Vent: {{ weather.list[0].wind.speed }} m/s</p>
  </mat-card-content>
</mat-card>

<mat-card *ngFor="let item of weather?.list">
  <mat-card-header>
    <mat-card-title>
      {{ item.dt | date }}
    </mat-card-title>
    <mat-card-subtitle>{{
      item.weather[0].description | titlecase
    }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://openweathermap.org/img/wn/{{ item.weather[0].icon }}@2x.png"
    [alt]="item.weather[0].description"
  />
  <mat-card-content>
    <h1>{{ item.main.temp | number : "1.0-0" }} &#8451;</h1>
    <p>Pression: {{ item.main.pressure }} hPa</p>
    <p>Humidité: {{ item.main.humidity }} %</p>
    <p>Vent: {{ item.wind.speed }} m/s</p>
  </mat-card-content>
</mat-card>

<mat-spinner *ngIf="!weather && isLoading"></mat-spinner>
<p *ngIf="!weather && !isLoading">Aucun résultat à afficher</p>
